
h2{
    margin-left: 400px;
float: center;
}
body {
    height: 100%;
    margin-left:150px;
    background-color: green;
        background-image: url(HACKATON/images\md.jpg);

}

img {
    margin-left: 400px; 
}
ul {
    margin-left: 300px; 
color: black;
}
button{
    margin-left: 100px;

}